
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .sender{
      position: fixed;
      bottom: 100px;
      right: 100px;

    }
  </style>
</head>
<body>
  <h1>GO Web Socket</h1>
  <h3>Host: {{ .Host }}</h3>

  <section>
    <div id="board">

    </div>
    <button class="sender" onclick="sendMessage()">Send</button>
  </section>
  
</body>
<script>
  let user = window.location.search.slice(1).split("&").find(q=>q.startsWith("user"))
  // location.
  if (user) {
    user = user.slice(user.indexOf("=")+1)
  }else {
    const rand = Array.from((Math.random()* 10000).toFixed(0)).map(n=>Number(n)*30)
    // console.log({rand});
    const int8 = new Int8Array(rand)
    user = String.fromCharCode.apply(null, int8);    
  }
  console.log({user});
  const url = "ws://"+"{{ .Host}}"+"/board?user="+user
  const ws = new WebSocket(url)

  let counter = 1
  ws.onmessage=(evt)=>{
    console.log(evt.data);
    const board = document.getElementById("board");
    board.innerHTML += "<div>"+ evt.data+"<div><br>"
    document.documentElement.scrollTo({top: document.documentElement.scrollHeight, behavior:"smooth"})
  }

  ws.onopen=(evt)=>{
    console.log(evt);
    ws.send("ping");
  }

  function sendMessage(){
    console.log(ws.readyState);
    if (ws.readyState != 1) return;

    ws.send("Message "+ counter++)
  }

</script>
</html>